BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="suppliersview">Suppliers</a>
            <i class="fa fa-angle-right"></i>

        </li>
        <li>
            <a ui-sref="suppliersadd">Add Suppliers</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Delete Suppliers Category
    <small></small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" data-ng-controller="SuppliersController">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Remove Category</span>
                </div>

            </div>

            <div class="portlet-body form">
                <form role="form"  ng-submit="removeSupplierCategory()">
                    <div class="form-body" style="margin:15px;">
                        <div class="row">

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Choose Category To Delete</label>
                                    <div class="input-group">
                                        <span class="input-group-addon ">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    <select name="category" ng-model="category" class="form-control">
                                          <option ng-repeat="supplier in allSuppliers" value="{{supplier.id}}">{{cat.}}</option>
                                         </select> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
</script>
<!-- END MAIN JS