<!--BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="inventoryallmakes">Inventory</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="inventorysinglemake">View Single Car</a>
        </li>
    </ul>
    
</div>
<h3 class="page-title">View Single Car in supplier Inventory
    <small></small>
</h3>
        <div class="row" style="padding-bottom: 2%">

           
               <div class="col-md-12">
                    <div class="btn-group" style="float:right;">
                      <a ui-sref="suppliersmanage">
                          <button id="sample_editable_1_new" class="btn green">View all Cars
                                </button>
                      </a>
                  </div>
              </div>

       </div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" data-ng-controller="InventoryController">
    <div class="col-md-12">

        <div class="row" >
            <div class="col-md-4">
              <!-- Box Comment -->
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                    <span class="username">{{inv.post_name}}</span>
                    <span class="description"><h5 style="color:red">{{inv.status}}</h5></span>
                    <span class="username"><h5 style="color:blue">Stock Number: GM{{inv.ID}}</h5></span>
                  </div>
                  <!-- /.user-block -->
                </div>
                <!-- /.box-header -->
                <a class="hov" style="text-decoration: none">
                  <div class="box-body">
                    <img class="img-responsive pad" src="../../uploads/{{inv.imgUrl}}" alt="Photo"> 
                    <div class="tile">
                        <div class="tile-object">
                        </div>
                    </div>
                    <h4 ng-show='inv.status == "Available"'>Click to edit photo</h4>
                  </div>
                </a>
                <!-- /.box-body -->
              </div>
              
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                     <h2>{{inv.regNo}}</h2>
                  </div>
                  <!-- /.user-block -->
                </div>
                <!-- /.box-header -->
               
                  <div class="box-body">
                    
                    <div class="tile">
                    <h3 style="color:green">Manage Car</h3>

                    <!--<span class="username"><h4>Researved</h4></span>
                    <span class="username"><h4>Mark as Sold</h4></span>
                    <span class="username"><h4>Not Available in Yard</h4></span>
                    <span class="username"><h4>Edit</h4></span>-->
                    </div>
                  </div>
             
                <!-- /.box-body -->
              </div>


            </div>
            <!-- /.col -->
            <div class="col-md-8" >
              <!-- Box Comment -->
              <div class="box box-widget">
                <div style="border-top: 4px solid #333;padding: 20px 15px;">
                  <h3>Car Details</h3>
                  <!-- /.user-block -->
                  <style type="text/css">
                    table > tbody tr td {
                      font-size: 12px;
                      color: #888888;
                      border-bottom: 1px solid #d5d9e0;
                    }
                  </style>
                  <table style="width: 100%;">
                    <tr>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Body                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.bodyType}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                           <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Year                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.fabricationYear}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Price                 
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.price}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Doors                
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.doors}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Fuel                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.fuel}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Transmission                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.transmission}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Color                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.color}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Mileage                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.mileage}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Make                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.make}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Model                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.model}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Series                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.series}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Condition                 
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.carCondition}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Duty                 
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.duty}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                        <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Driver Setup                 
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                               Right-Hand
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Drive Type                  
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.driveType}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 30px;border: 0;"></td>
                      <td style="padding: 13px 0 14px;">
                        <table style="margin-bottom: 0;table-layout: fixed;">
                          <tr>
                            <td style="padding-right:0 5px 0 0;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              <i class=""></i>Interior                 
                            </td>
                            <td style="padding:0 0 0 10px;color: #222;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: 0;vertical-align: middle;">
                              {{inv.interior}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>




                  </table>
        
                </div>
              </div>
              <!-- /.box -->
              

              <div class="box box-widget">
                <div style="border-top: 4px solid #333;padding: 20px 15px;">
                  <h3>Features</h3>
                  <div class="lists-inline">
                    <style type="text/css">
                      .lists-inline>ul{width:100%;margin-bottom:0;padding-right:15px;display:inline-block;vertical-align:top}ul.list-style-2{padding:0;list-style:none}ul.list-style-2 li{float:left;width:25%;position:relative;padding-left:31px;margin-bottom:8px}ul.list-style-2 li:before{position:absolute;display:block;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);left:3px;top:4px;content:"\f058";font-size:14px;color:#e41515}
                    </style>
                    <ul class="list-style-2" style="font-size: 13px;">
                      <li ng-if="inv.leatherInterior == 1">Leather Interior
                      </li>
                      <li ng-if="inv.keylessEntry == 1">Keyless Entry</li>
                      <li ng-if="inv.manual == 1">Manual</li>
                      <li ng-if="inv.powerSteering == 1">Power Steering</li>
                    </ul>
                    <ul class="list-style-2" style="font-size: 13px;">
                      <li ng-if="inv.pushToStart == 1">Push to Start</li>
                      <li ng-if="inv.reverseCamera == 1">Reverse Camera</li>
                      <li ng-if="inv.steeringControls == 1">Steering Controls</li>
                      <li ng-if="inv.sunRoof == 1">Sun Roof</li>
                    </ul>
                      <ul class="list-style-2" style="font-size: 13px;">
                        <li ng-if="inv.lowMileage == 1">Low Mileage</li>
                
                      </ul>
                      <ul class="list-style-2" style="font-size: 13px;">
                       
                      </ul>
                  </div>
                </div>

              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
           
    </div>



      </div>

    </div>
      
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
</script>
<!-- END MAIN JS
